<h1>Edit Goal for <%= current_user.username %></h1>

<form action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>Title
    <input type="string" name="goal[name]" value="<%= @goal.name %>">
  </label>

  <label>Description
    <input type="string" name="goal[description]" value="<%= @goal.description %>">
  </label>


  <label>Public
    <input type="radio" name="goal[private]" value="false" <%= @goal.private ? "" : "checked" %>>
  </label>

  <label>Private
    <input type="radio" name="goal[private]" value="true" <%= @goal.private ? "checked" : "" %>>
  </label>


  <input type="submit" value="Update Goal" >
</form>
